<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>welocome to Flask web site with Mongo DB</h1>

    <table class="table table-striped">
        <head>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Addr</th>
        </tr>

        </head>
        <tbody>
        {% for user in users %}
            <tr>

                <td>{{user["_id"]}}</td>
                <td>{{user["Name"]}}</td>
                <td>{{user["LastName"]}}</td>
                <td>{{user["addr"]}}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>